.Todo {
  background-color: #ffabab;
  text-align: center;
  color: #d14d72;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 2px solid #d14d72;
}

.add-btn {
  margin: 0px 0px 10px 10px;
  height: 30px;
  background-color: #d14d72;
  border: 2px solid #fef2f4;
  color: #fef2f4;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

input {
  border: 2px solid #d14d72;
  border-radius: 6px;
}

.filter {
  margin-right: 140px;
}

.option-drp {
  background-color: #d14d72;
  border: 2px solid #fef2f4;
  color: #fef2f4;
  border-radius: 6px;
}

li {
  list-style-type: none;
}

.edit-btn {
  margin: 10px;
}

.delete-btn {
  margin: 2px;
}

/* .checkbox {
  width: 30px;
  height: 15px;
  justify-content: left;
} */

span {
  font-size: 22px;
}

.check {
  cursor: pointer;
}

.edit-btn {
  background-color: #d14d72;
  border: 2px solid #fef2f4;
  color: #fef2f4;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.delete-btn {
  background-color: #d14d72;
  border: 2px solid #fef2f4;
  color: #fef2f4;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.output {
  margin-top: 10px;
}
